<footer>
  <p>
    <small>
      All content by Bart Verkoeijen and under
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">creative commons</a>
      and code under MIT license.
    </small>
  </p>
  <p>
    <small>
      All code and content for this blog is available as
      <a href="{{ pkg.repository.url }}">open source on GitHub</a>.
    </small>
  </p>
</footer>
